.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.Board {
  border: 2px solid black;
  width: 90%;
  padding-top: 20px;
  margin-top: 20px;
}

.song-card {
  padding: 20px;
  margin: 20px;
  border: 1px solid black;
}

/* .song-container {
  background-color: red;
} */

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  /* border: 2px solid yellow; */
}  

.flex-child:first-child {
  margin-right: 20px;
} 

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}